<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title> <!-- Récupère le titre du fichier _config.yml -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8DZQC5PBF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-X8DZQC5PBF');
  </script>
</head>
<body>
  <header>
    <!-- Logo -->
    <img src="{{ site.logo }}" alt="Logo" style="width: 150px;"/>
    
    <!-- Titre principal -->
    <h1>{{ site.title }}</h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
</html>
