/* Styles de base */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #1F1F1F;
    --bg2-color: #303030;
    --text-color: #FFFFFF;
    --text2-col: #9E9D9D;
    --tool-col: #323D4D;
    --skill-col: #ced3f9cc;
}

.light-theme {
    --bg-color: #fafafa;
    --bg2-color: #FFFFFF;
    --text-color: #1F1F1F;
    --text2-col: #585353;
    --tool-col: #ced3f9;
    --skill-col: #323D4D;
}

.dark-theme {
    --bg-color: #1F1F1F;
    --bg2-color: #303030;
    --text-color: #FFFFFF;
    --text2-col: #9E9D9D;
    --tool-col: #323D4D;
    --skill-col: #ced3f9cc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg2-color);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    box-shadow: 0px 10px 20px -10px #00000033;
    z-index: 1000;
}

.logo {
    position: relative;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 800;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg2-color);
    backdrop-filter: blur(15px);
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}


.logo span {
    color: #fb5607;
    font-size: 20px;
    font-weight: 800;
}

.navbar {
    display: flex;
    width: auto;
    position: relative;
    gap: 30px;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg2-color);
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
    /* border: #0067B1 solid; */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

/* Afficher la navbar lors du clic sur le menu burger */
.navbar.active {
    display: flex;
}

.navbar.active ~ .menu-toggle {
    color: #0067B1;
    border: 1px #0067B1 solid;
}

.navbar a {
    text-decoration: none;
    font-weight: 600;
    width: auto;
}

.navbar select {
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    background-color: var(--bg2-color);
    border: none;
    font-size: 15px;
    width: 7%;
    color: var(--text2-col);
    /* border: #FFFFFF solid; */

}

.navbar a:hover,
.navbar a.active {
    color: #0067B1;
    position: relative;
}

.navbar a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #0067B1;
}

b {
    color: var(--text2-col);
    font-weight: bold;
}

/* Conteneur du bouton de bascule */
.theme-toggle {
    position: relative;
    height: 26px;
    background-color: #e0e0e0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    user-select: none; /* Empêche la sélection de texte */
}

/* Style du slider (cercle) à l'intérieur */
.theme-toggle .toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

/* Arrière-plan et emoji pour le thème clair */
body.light-theme .theme-toggle {
    background-color: #e0e0e0;
}
body.light-theme .toggle-slider {
    background-color: yellow;
    content: "🌞"; /* Emoji Soleil pour le thème clair */
}

/* Arrière-plan et emoji pour le thème sombre */
body.dark-theme .theme-toggle {
    background-color: #333;
}
body.dark-theme .toggle-slider {
    left: 27px; /* Déplacer à droite pour le thème sombre */
    background-color: #fff;
    content: "🌙"; /* Emoji Lune pour le thème sombre */
}

#lang-mobile {
    display: none;
}

#mobile-nav {
    display: none;
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* Margin */
.home {
    margin: 200px 130px;
    padding: 20px 0;
}

.about,
.compet,
.works,
.blog,
.contacts {
    padding: 20px 0;
    margin: 50px 130px;
}   

section {
    scroll-margin-top: 150px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Home */
.home {
    display: flex;
    max-width: 1050px;
    height: auto;
    align-items: center;
    /* border: #0067B1 solid; */
    gap: 5%;

}

.home-content {
    display: block;
    max-width: 600px;
}

.pic-home {
    /* border: #0067B1 solid; */
    max-width:250px;
    height: 100%;
    justify-content: center;
    margin: 100px;
    position: relative;
}

.pic-home img {
    width: 100%;
    object-fit: cover;
}

.pic-home::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    font-size: 44px;
    font-weight: 800;
    position: relative;
}

.home-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.home-content h1::before, .home-content h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    margin-bottom: 40px;
    line-height: 1.6;
    color: var(--text2-col);
    position: relative;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}

.bulles {
    display: flex;
    align-items: self-start;
    position: relative;
}

.bulles::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
}

.about-home {
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    width: 180px;
    height: 100%;
    text-decoration: none;
    font-weight: 800;
    background-color: #0067B1;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    transition: color .5s ease, background-color .5s ease;
    border: 2px solid transparent;
    z-index: 1;
}

.about-home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0067B1;
    transition: transform 0.4s ease;
    z-index: -1;
    transform: translateX(0);
}

.about-home:hover::before {
    transform: translateX(100%);
}

.about-home:hover {
    background-color: #ced3f9;
    color: #1F1F1F;
    border: 2px solid #0067B1;
}

.bulle-contact {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: auto;
}

.bulle-contact a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--bg-color);
    margin-left: 1px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--text-color);
    font-size: 25px;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.bulle-contact a:hover {
    background-color: #ced3f9cc;
    color: var(--text-color);
}

.bulle-contact a i {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.bulle-contact a i:hover {
    color: #0067B1;
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* About */
.about {
    /* border: #FFFFFF solid; */
    display: flex;
    max-width: 1050px;
    height: auto;
    align-items:flex-start;
    justify-content: center;
}

.pic-about {
    justify-items: center;
    align-items: center;
    margin-right: 50px;
}

.ppc {
    border-radius: 7px;
    width: 350px;
    height: 100%;
    align-items: center;
}

.about-content {
    height: auto;
    gap: 0;
}

.about-content h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
}

.about-content h2 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text2-col);
}

.about-content p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: var(--text2-col);
}

.btn-about {
    display: flex;
    justify-content: baseline;
    width: auto;
    height: 50px;
}

.btn-about a {
    display: inline-flex;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    width: auto;
    text-decoration: none;
    font-weight: 800;
    position: relative;
    overflow: hidden;
    transition: color .5s ease, background-color .5s ease;
    z-index: 1;
}

.b1 {
    background-color: #0067B1;
    color: var(--text-color);
    margin-right: 3%;
    width: 30%;
}

.b2 {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px var(--text-color) solid;
}

.b1:hover {
    background-color: #fb5607;
    color: var(--bg-color);
}

.b2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    transition: transform .5s ease;
    z-index: -1;
    transform: translateX(0);
}

.b2:hover::before {
    transform: translateX(100%);
}

.b2:hover {
    background-color: #fb5607;
    color: var(--bg-color);
    border: var(--text-color);
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* Works */
.works {
    /* border: var(--text-color) solid; */
    display: block;
    gap: 2%;
    max-width: 1050px;
    box-sizing: border-box;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.works-content {
    width: 100%;
    height: auto;
    padding: 2%;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works-content h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5px;
}

.works-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text2-col);
}

.works-content p {
    line-height: 1.6;
    color: var(--text2-col);
}

.wk-grid {
    /* border: var(--text-color) solid; */
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-wk-item {
    width: 100%;
    /* border: #0067B1 solid; */
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.main-img-wk {
    width: 40%;
    border-radius: 7px;
    /* border: #fb5607 solid; */
    height: auto;
    overflow: hidden;
}

.main-img-wk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 7px; */
}

.main-content-wk {
    width: 60%;
    /* border: #fb5607 solid; */
    text-align: left;
}

/* Editer le txt */

.main-content-wk h2, .tdd h2 {
    /* border: var(--text-color) solid; */
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.hover-link {
    text-decoration: none; /* Pas de soulignement par défaut */
    color: inherit; /* Optionnel : pour conserver la couleur par défaut */
}

.hover-link:hover {
    text-decoration: underline; /* Ajoute le soulignement au survol */
    text-decoration-color: rgba(0, 103, 177, 0.5); /* Change la couleur du soulignement (ici en rouge) */
    text-decoration-thickness: 2px;
}


.main-content-wk p, .tdd p {
    color:var(--text2-col);
    margin-bottom: 5px;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tools-used {
    display: flex;
    gap: 10px;
    /* border: #fb5607 solid; */
}

.tools-used p {
    border-radius: 20px;
    background-color: var(--tool-col);
    color: #0067B1;
    min-width: 50px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
}

.wk-items {
    display: flex;
    margin: 0;
    /* border: var(--text-color) solid; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.box {
    width: 33%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 7px;
    transition: all .5s ease;
}

.box:hover {
    background-color: var(--text-color)1a;
    box-shadow: 0 4px 20px #00000080;
    border: 1px #0067B1 solid;
}

.img-wk {
    /* border: #fb5607 solid; */
    border-radius: 7px;
    width: 100%;
    height: 150px;
    overflow: hidden;
}


.img-wk img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 7px; */
}


.tdd {
    width: 100%;
    /* border: #0067B1 solid; */
    text-align: left;
    margin-top: 10px;
}

/* Test edit */


.see-more {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    /* border: var(--text-color) solid; */
}


.see-more a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    text-decoration: none;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    background-color: #fb5607;
    margin: 20px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: color .5s ease, background-color .5s ease;
    z-index: 1;
}

.see-more a:hover {
    background-color: #0067B1;
    color: var(--text-color);
}



/* -------------------------------------------------------------------------------------------------------------------- */
/* Skills */
.compet {
    /* border: var(--text-color) solid; */
    display: block;
    justify-content: center;
    max-width: 1050px;
    height: auto;
    gap: 30px;
}

.sk-content {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sk-content h1 {
    font-size: 44px;
    font-weight: 600;
}

.sk-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text2-col);
}

.sk-content p {
    margin-bottom: 40px;
    line-height: 1.6;
    color: var(--text2-col);
}

/* Exp et certifs */
.sk-element {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.exp-cert {
    /* border: #0067B1 solid; */
    display: block;
    align-items: self-start;
    width: 450px;
    height: 350px;
    margin-top: 0;
}

.exp-col {
    display: block;
    gap: 10px;
    margin: 20px 0;
}

.exp-box {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    align-items: center;
}

.exp-box img {
    border-radius: 10px;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exp-box-content {
    display: block;
    align-items: self-start;
}

.exp-box-content h2 {
    font-size: 15px;
    font-weight: 600;
}

.exp-box-content p {
    color: var(--text2-col);
    font-size: 14px;
}

.cert-col {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.cert-box {
    display: flex;
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease;
    text-decoration: none;
    gap: 15px;
}

.cert-box:hover {
    background-color: var(--text-color)1a;
    box-shadow: 0 4px 20px #00000080;
    border: 1px #0067B1 solid;
}

.cert-box img {
    border-radius: 7px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.cert-box-content h2 {
    font-size: 15px;
    font-weight: 600;
}

.cert-box-content p {
    color: var(--text2-col);
    font-size: 14px;
}

.skillys {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 600px;
    height: 400px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin: 1px auto;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--bg2-color);
    padding: 5px;
    border-radius: 30px;
}

.filter-btn {
    color: var(--text-col);
    border: none;
    background-color: var(--bg2-color);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: var(--bg2-color);
    color: var(--text-color);
}

.filter-btn.active {
    background-color: #0067B1;
    color: white;
}

.filt-btn {
    color: var(--text-col);
    border: none;
    background-color: var(--bg2-color);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.filt-btn:hover {
    background-color: var(--bg2-color);
    color: var(--text-color);
}

.filt-btn.active {
    background-color: #0067B1;
    color: white;
}

.grid-data, .grid-web {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10%;
    margin-bottom: 20px;
}

.skill-box {
    width: 85px;
    height: 85px;
    padding: 20px;
    margin: 5px 5px;
    background-color: var(--skill-col); /* 303030; 1A202C*/
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0px 0px 25px #0c0f0a;
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: #0067B1; /* couleur de fond du tooltip */
    color: var(--text-color); /* couleur du texte */
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* position au-dessus de l'image */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* empêcher le texte de se casser en plusieurs lignes */
    font-size: 12px; /* taille du texte du tooltip */
}

.skill-box:hover .tooltip-text {
    visibility: visible;
    background-color: #0067B1; /* afficher le tooltip au survol */
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Blog */
.posts {
    /* border: var(--text-color) solid; */
    height: 100%;
    display: flex;
    gap: 10px;
}

.poster {
    /* border: #0067B1 solid; */
    width: 90%;
    border-radius: 7px;
    width: 100%;
    height: 150px;
    /* overflow: hidden; */
}

.poster a {
    text-decoration: none;   
}

.poster a img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    /* border-radius: 7px; */
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Contacts */
.contacts {
    /* border: var(--text-color) solid; */
    display: flex;
    max-width: 1050px;
    height: auto;
    align-items: baseline;
    gap: 1%;
    box-sizing: border-box;
}

.contacts-content {
    max-width: 700px;
}

.contacts-content h1 {
    font-size: 44px;
    font-weight: 600;
}

.contacts-content h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text2-col);
}

.contacts-content p {
    margin-bottom: 40px;
    line-height: 1.6;
    color: var(--text2-col);
}

.location {
    display: flex;
    gap: 3%;
}

.link-contact {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link-contact p {
    display: flex;
    margin-bottom: 7px;
    text-align: center;
}

.link-contact p span {
    font-size: 15px;
    margin-left: 5px;
    border: var(--bg-color) solid;
    color: var(--skill-col);
    text-decoration: var(--skill-col) underline;
}

.link-contact p span:hover {
    color: #0067B1;
}

.link-contact a {
    text-decoration: none;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 30px;
    height: 30px;
    font-size: 25px;
    z-index: 1;
    overflow: hidden;
}

.link-contact a i {
    color: var(--text-color);
    transition: color 0.3s ease;
}

.link-contact a i:hover {
    color: #0067B1;
}

.form-contact {
    background-color: var(--bg2-color);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #0c0f0a;
    max-width: 450px;
    margin: 5%;
}

label {
    font-weight: 600;
    padding: 2%;
    margin-bottom: 5%;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: #fb5607;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 3%;
    background-color: var(--bg-color);
    border: var(--bg-color) solid;
    font-size: 15px;
}

textarea {
    height: 150px;
    resize: vertical;
    transition: border 0.1s ease;
}

input {
    transition: border 0.1s ease;
}

input:focus, textarea:focus {
    border: 2px solid #fb5607;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #D1D1D1;
    color: var(--bg-color);
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-weight: 1000;
    transition: background-color .5s ease, color .5s ease;
}

button:hover {
    background-color: #fb5607;
    color: var(--bg-color);
}



/* -------------------------------------------------------------------------------------------------------------------- */
/* Footer */
.footer {
    display: flex;
    bottom: 0;
    left: 0;
    background-color: var(--bg2-color);
    height: 70px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.copyright span {
    color: #0067B1;
}

.to-top {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 90px;
    right: 20px;
    background-color: var(--skill-col);
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    transition: background-color .5s ease;
    display: none;
}

.to-top:hover {
    background-color: #fb5607;
    opacity: .5;
}

.to-top i {
    color: #fafafa;
}


/* -------------------------------------------------------------------------------------------------------------------- */
/* Medias screen */

/* Cacher l'icône burger sur les grands écrans */
/* @media screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
} */

/* Personnalisation des items durant l'affichg su petit écran */
@media screen and (max-width: 750px) {
    /* Menu Toggle */
    .menu-toggle {
        display: flex;
        color: var(--text-color);
        cursor: pointer;
        border-radius: 7px;
        margin: 0;
        padding: 5px;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        
        &:hover {
            color: #0067B1;
            border: 1px #0067B1 solid;
        }
    }

    /* Navbar Mobile */
    .navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        margin: 60px 0;
        padding: 20px 50px;
        width: 100%;
        height: auto;
        gap: 13px;
        border-bottom: 1px #0067B1 solid;
        border-radius: 10px;
        backdrop-filter: blur(12px);
        
        &.active {
            display: flex;
        }
        
        a {
            display: inline-block;
            font-weight: 500;
            color: var(--text-color);
        }
        
        select {
            width: auto;
            margin: 0;
        }
    }

    /* Language Selector */
    #lang {
        display: none;
    }
    
    #lang-mobile {
        display: flex;
        background-color: var(--bg2-color);
        border: none;
        font-size: 15px;
        width: 50%;
        color: var(--text2-col);
    }

    /* Mobile Nav Container */
    #mobile-nav {
        display: flex;
        height: auto;
        width: auto;
        gap: 10px;
    }
    
    /* Layout Adjustments */
    .home, .about, .compet, 
    .works, .blog, .contacts {
        flex-direction: column;
        align-items: center;
        margin: 60px 20px;
    }

    /* Home Section */
    .home {
        margin: 200px 20px;
        
        .pic-home {
            margin: 50px 0;
        }
        
        .bulles {
            padding: 0;
            display: block;
            text-align: center;
            
            .about-home {
                margin-bottom: 15px;
                width: 60%;
                border-radius: 5px;
            }
            
            .bulle-contact {
                margin: 0;
                justify-content: center;
            }
        }
    }

    /* About Section */
    .about {
        height: auto;
        
        .about-content {
            margin-top: 5px;
            
            h2, h1 {
                display: flex;
                justify-content: center;
                margin: 0;
            }
        }
        
        .pic-about {
            margin: auto;
        }
        
        .btn-about {
            display: block;
            height: auto;
            width: 60%;
            margin: auto;
            text-align: center;
            
            a {
                display: flex;
                border-radius: 5px;
                width: 100%;
                margin-bottom: 10px;
                max-width: 1000px;
            }
        }
        
        .b1, .b2 {
            height: 45px;
            width: 100%;
        }
    }

    /* Works Section */
    .works-content {
        margin-bottom: 10px;
    }
    
    .main-wk-item, .wk-items {
        display: block;
        width: 100%;
        
        &:hover {
            background-color: var(--text-color)1a;
            box-shadow: 0 4px 20px #00000080;
            border: 1px #0067B1 solid;
        }
    }
    
    .main-wk-item {
        border-radius: 7px;
        height: auto;
        gap: 5px;
        padding: 10px;
        transition: all .5s ease;
    }
    
    .main-img-wk, .img-wk {
        width: 100%;
        border-radius: 7px;
        height: 205px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .main-content-wk {
        width: 100%;
        text-align: left;
    }
    
    .box {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 7px;
        transition: all .5s ease;
    }

    /* Competences Section */
    .compet {
        display: block;
        height: auto;
        
        .sk-content {
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
        }
        
        .sk-element {
            display: block;
            padding: 0;
            margin: 0;
            gap: 0;
        }
        
        .exp-cert {
            display: block;
            height: auto;
            margin: 0 40px;
            width: auto;
            
            .cert {
                margin-bottom: 15px;
            }
            
            .ttl-exp {
                margin-bottom: 10px;
                margin-left: 0;
                display: flex;
                justify-content: center;
                width: auto;
                text-decoration: underline;
            }
        }
        
        .skillys {
            margin: auto;
            height: 400px;

            .grid-data {
                margin: 0;
                padding: 10px 0;
            }
        }
    }

    /* Blog Section */
    .posts {
        display: block;
        
        > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    /* Contacts Section */
    .contacts-content {
        margin-bottom: 20px;
        
        h2 {
            width: 100%;
            text-align: center;
        }
        
        p {
            margin-bottom: 10px;
        }
    }
    
    .location {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            padding: 0;
            margin: 0;
        }
    }
    
    .copyright {
        font-size: small;
    }
}

@media screen and (min-width: 750px) and (max-width: 1050px) {
    /* Menu Toggle */
    .menu-toggle {
        display: flex;
        color: var(--text-color);
        cursor: pointer;
        border-radius: 7px;
        margin: 0;
        padding: 5px;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        
        &:hover {
            color: #0067B1;
            border: 1px #0067B1 solid;
        }
    }

    /* Navbar Mobile */
    .navbar {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 0;
        right: 0;
        margin: 60px 0;
        padding: 20px 50px;
        width: 100%;
        height: auto;
        gap: 13px;
        border-bottom: 1px #0067B1 solid;
        border-radius: 10px;
        backdrop-filter: blur(12px);
        
        &.active {
            display: flex;
        }
        
        a {
            display: inline-block;
            font-weight: 500;
            color: var(--text-color);
        }
        
        select {
            width: auto;
            margin: 0;
        }
    }

    /* Language Selector */
    #lang {
        display: none;
    }
    
    #lang-mobile {
        display: flex;
        background-color: var(--bg2-color);
        border: none;
        font-size: 15px;
        width: 50%;
        color: var(--text2-col);
    }

    /* Mobile Nav Container */
    #mobile-nav {
        display: flex;
        height: auto;
        width: auto;
        gap: 10px;
    }
    
    /* Layout Adjustments */
    .home, .compet, 
    .works, .blog, .contacts {
        flex-direction: column;
        align-items: center;
        margin: 60px 20px;
    }

    /* Home Section */
    .home {
        margin: 200px 20px;
        
        .pic-home {
            margin: 50px 0;
        }
        
        .bulles {
            padding: 0;
            display: block;
            text-align: center;
            
            .about-home {
                margin-bottom: 15px;
                width: 50%;
                border-radius: 5px;
            }
            
            .bulle-contact {
                margin: 0;
                justify-content: center;
            }
        }
    }

    /* About Section */
    .about {
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 60px 80px;
        
        .about-content {
            margin-top: 5px;
            
            h2, h1 {
                display: flex;
                justify-content: center;
                margin: 0;
            }
        }
        
        .pic-about {
            margin: auto;
        }
        
        .btn-about {
            display: block;
            height: auto;
            margin: 0 auto;
            width: 50%;
            text-align: center;
            
            a {
                display: flex;
                border-radius: 5px;
                width: 100%;
                margin-bottom: 10px;
                max-width: 1000px;
            }
        }
        
        .b1, .b2 {
            height: 45px;
            width: 100px;
        }
    }

    /* Works Section */
    .works-content {
        margin-bottom: 10px;
    }

    .wk-items {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .main-wk-item {
        border-radius: 7px;
        height: auto;
        gap: 5px;
        padding: 10px;
        transition: all .5s ease;
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    .main-wk-item:hover {
        background-color: var(--text-color)1a;
        box-shadow: 0 4px 20px #00000080;
        border: 1px #0067B1 solid;
    }
    
    .main-img-wk, .img-wk {
        width: auto;
        border-radius: 7px;
        height: 200px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .main-content-wk {
        width: 100%;
        text-align: left;
    }
    
    .box {
        width: auto;
        height: 100%;
        border-radius: 7px;
        transition: all .5s ease;
    }

    /* Competences Section */
    .compet {
        display: block;
        height: auto;
        
        .sk-content {
            display: block;
            width: 100%;
            height: auto;
            text-align: center;
        }
        
        .sk-element {
            display: block;
            padding: 0;
            margin: 0;
            gap: 0;
        }
        
        .exp-cert {
            display: block;
            height: auto;
            margin: 0 250px;
            width: auto;
            
            .exp, .cert {
                margin-bottom: 15px;
            }
            
            .ttl-exp {
                margin-bottom: 10px;
                margin-left: 0;
                display: flex;
                justify-content: center;
                width: auto;
                text-decoration: underline;
            }
        }
        
        .skillys {
            margin: auto;
            height: 400px;
        }
    }

    /* Blog Section */
    .posts {
        display: flex;
        
        > *:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    /* Contacts Section */
    .contacts-content {
        margin-bottom: 20px;
        
        h2 {
            width: 100%;
            text-align: center;
        }
        
        p {
            margin-bottom: 10px;
        }
    }
    
    .location {
        margin: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p {
            padding: 0;
            margin: 0;
        }
    }
    
    .copyright {
        font-size: small;
    }
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* Animations */
@keyframes showRight {
    100% {
        width: 0;
    }
}

html {
    scroll-behavior: smooth;
}
